<div class="condition choose" [attr.name]="data.name" #card #canvasContent>
  <div class="row">
    <div class="col-10">
      <strong>Specify condition</strong>
    </div>
    <div class="col"><a href="javascript:void(0)" (click)="deleteNode()">Delete</a></div>
  </div>
  <div class="row mt-2">
    <div class="col">
      <app-variable-picker propertyName="ifconditionLeftValue" [data]="data"></app-variable-picker>
    </div>
    <div class="col"> <select style="float: left;" class="ms-1">
        <option>eq</option>
        <option>ne</option>
        <option>gt</option>
        <option>lt</option>
        <option>gte</option>
        <option>lte</option>
      </select> </div>
    <div class="col">
      <app-variable-picker propertyName="ifconditionRightValue" [data]="data"></app-variable-picker>
    </div>
  </div>

</div>