.choose {
    padding: 1em;
    height: 10em;
    min-width: 40em;
  
}

.example-form {
    min-width: 400px;
    max-width: 600px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }