<div [attr.name]="data.name" #canvasContent ngFlowchartCanvas class="card">
    <div class="card-body">
        <h5 class="card-title">{{ data.title }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ data.name }}</h6>
        <div class="card-text">

            <form>
                <div class="mb-3">
                    <label for="provideDescription" class="form-label">Enter description</label>
                    <textarea rows="3" name="provideDescription" class="form-control" id="provideDescription"
                        aria-label="Enter description" [(ngModel)]="data.description"
                        placeholder="Enter some description for this node"></textarea>
                </div>
            </form>

            <div class="mt-2 mb-2 markdown-editor">
                <angular-markdown-editor [textareaId]="uniqueId" rows="12" name="markdownText" [options]="editorOptions"
                    [(ngModel)]="data.markdownText">
                </angular-markdown-editor>
            </div>

            <app-node-actions (onNodeAdded)="addNode($event)" (onConditionAdded)="addCondition($event)"
                (onDeleted)="deleteNode()" [isDisabled]="isDisabled()">
            </app-node-actions>
        </div>
    </div>
</div>