.markdown-editor {
    max-width: 450px;
}

.navbar {
    min-height: 20px;
}

.form-label {
    font-size: smaller;
}

.nav-tabs .nav-link {
    font-size: small;
}

.tab-content {
    border: 1px solid #ddd;
    border-width: 0 1px 1px;
    /* Removes the top border */
    padding: 1px;
}

.nav-tabs>li {
    float: left;
}

.nav-tabs>li>a {
    margin-left: 0;
    margin-right: 2px;
}

.tab-inner-content {
    padding: 10px;
    height: 180px;
}

.fixed-label {
    margin-top: 5px;
    font-size: small;
    inline-size: 300px;
    color: gray;
}