<div [attr.name]="data.name" #canvasContent ngFlowchartCanvas class="card">
  <mat-card style="min-width: 550px;">
    <mat-card-title>{{ data.title }}</mat-card-title>
    <mat-card-subtitle>{{ data.name }}</mat-card-subtitle>
    <mat-card-content>

      <mat-button-toggle-group (change)="changeNodeType($event)" [value]="data.nodeType">
        <mat-button-toggle *ngFor="let nodeType of nodeTypes" [value]="nodeType">{{ nodeType }}</mat-button-toggle>
      </mat-button-toggle-group>

      <div class="mt-2 mb-2" *ngIf="data.nodeType === 'detector'">
        <mat-form-field appearance="fill">
          <mat-label>Choose detector</mat-label>
          <mat-select [(ngModel)]="data.detectorId" (selectionChange)="changeDetector()">
            <mat-option *ngFor="let detector of detectors" [value]="detector">
              {{detector}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div *ngIf="data.nodeType === 'kustoQuery'" class="mt-2 mb-2">
        <button mat-raised-button color="primary" (click)="configureKustoQuery()" [disabled]="isDisabled()">Configure
          Kusto Query
        </button>
      </div>
      <div *ngIf="data.nodeType === 'markdown'" class="mt-2 mb-2">
        <angular-markdown-editor textareaId="editor1" rows="12" name="markdownText" [options]="editorOptions"
          [(ngModel)]="data.markdownText">
        </angular-markdown-editor>
      </div>


      <table *ngIf="variables.length > 0" class="table table-bordered table-responsive">
        <tr>
          <th>Name</th>
          <th>DataType</th>
          <th>Value</th>
        </tr>
        <tr *ngFor="let v of variables">
          <td>{{ v.name }}</td>
          <td>{{ v.type }}</td>
          <td>{{ v.value }}</td>
        </tr>

      </table>

    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="addCondition()" [disabled]="isDisabled()">Add Condition
      </button>
      <button mat-raised-button color="primary" (click)="addSwitchCondition()" [disabled]="isDisabled()">Add Switch
        Condition </button>
      <button mat-raised-button color="primary" (click)="addDetector()" [disabled]="isDisabled()">Add Detector </button>
      <button mat-raised-button color="warn" (click)="onDelete()" mat-button>Delete</button>
    </mat-card-actions>
  </mat-card>
</div>