<div class="card" [attr.name]="data.name" #card #canvasContent>
  <mat-card>
    <mat-card-content>
      <mat-card-title>Switch ON</mat-card-title>
      <ng2-completer [(ngModel)]="data.conditionValue" [datasource]="data.completionOptions" [minSearchLength]="0"
        placeholder="Choose a value">
      </ng2-completer>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="warn" (click)="deleteNode()" mat-button>Delete</button>
    </mat-card-actions>
  </mat-card>
</div>