.card-title-switch {
  background-color: #D9DADB;
}

input[type=text] {
  width: 280px;
}

.label-value {
  width: 280px;
}

.error-message {
  font-size: smaller;
  color: red;
  max-width: 270px;
  margin-left: 5px;
}

.card-text{
  height: 120px;
}