<div [attr.name]="data.name" #canvasContent ngFlowchartCanvas class="card">
  <div class="card-body">
    <div class="card-title card-title-switch">
      <app-node-title [data]="data" [customClass]="'background-gray'" [customClassIcon]="'bi-toggle2-on'">
      </app-node-title>
    </div>
    <div class="card-text">
      <div class="mb-1">Case equals</div>
      <app-variable-picker propertyName="switchCaseValue" [data]="data"></app-variable-picker>
      <div class="mt-1 mb-3"></div>
      <app-node-actions [isConditionNode]="true" [isSwitchCase]="true" (onNodeAdded)="addNode($event)"
        (onConditionAdded)="addCondition($event)" (onDeleted)="deleteNode()" [isDisabled]="isDisabled()"
        [isRootNode]="isRootNode()" (onSwitchCaseAdded)="addSwitchCase()">
      </app-node-actions>
    </div>
  </div>
</div>