<div [attr.name]="data.name" #canvasContent ngFlowchartCanvas class="card">
  <div class="card-body">
    <div class="card-title card-title-switch">
      <app-node-title [data]="data" [disableEdit]="true" [customClass]="'background-gray'"
        [customClassIcon]="'bi-toggle2-on'">
      </app-node-title>
    </div>
    <div class="card-text">
      <input type="text" [disabled]="!editMode" class="form-control form-control-sm" [(ngModel)]="switchCaseValue"
        name="switchCaseControl">
      <div class="mt-2 mb-2">
        <div *ngIf="editMode" style="display: flex">
          <i tabindex="0" (click)="save()" class="ms-1 fa fa-save text-primary"></i>
          <div *ngIf="error" class="error-message" role="alert">
            {{ error }}
          </div>
        </div>
        <div *ngIf="!editMode">
          <i tabindex="0" (click)="editMode = true" class="ms-1 fa fa-pencil text-primary"></i>
        </div>
      </div>
      <app-node-actions [isConditionNode]="true" [isSwitchCase]="true" (onNodeAdded)="addNode($event)"
        (onConditionAdded)="addCondition($event)" (onDeleted)="deleteNode()" [isDisabled]="isDisabled()"
        [isRootNode]="isRootNode()" (onSwitchCaseAdded)="addSwitchCase()">
      </app-node-actions>
    </div>
  </div>
</div>