<div class="card" [attr.name]="data.name" #card #canvasContent>
  <mat-card>
    <mat-card-content>
      <mat-card-title>Case equals</mat-card-title>
      <ng2-completer [(ngModel)]="data.conditionValue" [datasource]="data.completionOptions" [minSearchLength]="0"
        placeholder="Choose a value">
      </ng2-completer>
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="addNode(nodeType.detector)" [disabled]="isDisabled()" mat-button>Add
          Detector</button>
        <button mat-raised-button color="primary" (click)="addSwitchCase()" mat-button>Add Switch case</button>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>
</div>