<main>
  <div id="canvas" ngFlowchartCanvas [ngFlowchartOptions]="options" [disabled]="disabled"></div>
  <div id="palette">
    <section>
      <button (click)="showFlowData()">Show JSON</button>
      <!-- <button (click)="showUpload()">Upload JSON</button> -->
    </section>
  </div>

  <ng-template #normalStep let-data>
    <div class="card" [attr.name]="data.data.name" #card>
      <div>
        <strong style="float: left;">{{ data.data.name }}</strong>
        <div style="float: right;"><a href="javascript:void(0)" (click)="onDelete(data.id)">Delete</a></div>
      </div>
      <hr class="mb-3">
      <div *ngIf="!data.data.isEditing">
        <span>{{ data.data.detectorId }}</span>
        <a class="ms-2" href="javascript:void(0)" (click)="editDetector(data.id)">Edit</a>
        <div *ngIf="data.data.detectorId === 'kustoquery'">
          <div *ngIf="!data.data.isEditingQuery">
            <pre>{{ data.data.queryText }}</pre>
            <div>
              <a class="ms-2" href="javascript:void(0)" (click)="editQuery(data.id)">Edit Query</a>
            </div>
          </div>
          <div *ngIf="data.data.isEditingQuery">
            <textarea name="queryTextArea" rows="5" cols="100" [(ngModel)]="data.data.queryTextTemp"></textarea>
            <div>
              <input type="button" value="Save" (click)="saveQuery(data.id)">
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="data.data.isEditing">
        <select (change)="selectDetector($event,data.id)">
          <option *ngFor="let detector of detectors" [selected]="data.data.detectorId === detector">
            {{ detector }}
          </option>
        </select>
        <input class="ms-2" type="button" value="Save" (click)="saveDetector(data.id)">
      </div>
      <div class="mt-5">
        <input type="button" value="Add Condition" (click)="addCondition(data.id)" [disabled]="isDisabled(data.id)">
        <input class="ms-2" type="button" value="Add Detector" (click)="addDetector(data.id)"
          [disabled]="isDisabled(data.id)">
      </div>
    </div>
  </ng-template>

  <ng-template #conditionStep let-data>
    <div class="condition choose" [attr.name]="data.data.name" #card>
      <div><a href="javascript:void(0)" (click)="onDelete(data.id)">Delete</a></div>
      <ng2-completer [(ngModel)]="searchStr" [datasource]="getAutoCompletions(data.id)" [minSearchLength]="0" placeholder="Choose a value"></ng2-completer>
      <select style="float: left;" class="ms-1">
        <option>eq</option>
        <option>ne</option>
        <option>gt</option>
        <option>lt</option>
        <option>gte</option>
        <option>lte</option>
      </select>
      <ng2-completer [(ngModel)]="searchStr" [datasource]="getAutoCompletions(data.id)" [minSearchLength]="0" placeholder="Choose a value"></ng2-completer>      
    </div>
  </ng-template>

  <ng-template #ifTrueStep let-data>
    <div class="condition iftrue" [attr.name]="data.data.name" #card>
      <div class="msla-card-title-group" role="button" aria-expanded="true" aria-label="If true" tabindex="0">
        <div class="msla-image-header">
          <img style="vertical-align:top" alt="" role="presentation"
            src="data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAzMiAzMiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCiA8cGF0aCBkPSJtMCAwaDMydjMyaC0zMnoiIGZpbGw9IiM4OGRhOGQiLz4NCiA8Zz4NCiAgPHBhdGggZD0ibTI0LjAyNSAxMC4yOTMgMC44ODU2MSAwLjg4NTYxLTEwLjUxOSAxMC41MjktNS40ODA5LTUuNDkwOCAwLjg4NTYxLTAuODg1NjEgNC41OTUzIDQuNTg1NSA5LjYzMzUtOS42MjM2eiIgZmlsbD0iI2ZmZiIgc3Ryb2tlLXdpZHRoPSIxLjY3OTQiLz4NCiA8L2c+DQo8L3N2Zz4NCg=="
            class="msla-card-header-icon" draggable="false">
        </div>
        <a aria-expanded="true" class="msla-card-header-title-view" tabindex="-1" href="javascript:void(0)"
          draggable="false" role="button">
          <div class="msla-card-title">If true</div>
        </a>
      </div>
      <input class="mt-2 ms-2" type="button" value="Add Detector" (click)="addDetector(data.id)"
        [disabled]="isDisabled(data.id)">
    </div>
  </ng-template>

  <ng-template #ifFalseStep let-data>
    <div class="condition iffalse" [attr.name]="data.data.name" #card>
      <div class="msla-card-title-group" role="button" aria-expanded="true" aria-label="If false" tabindex="0">
        <div class="msla-image-header">
          <img style="vertical-align:top" alt="" role="presentation"
            src="data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAzMiAzMiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCiA8cGF0aCBkPSJtMCAwaDMydjMyaC0zMnoiIGZpbGw9IiNmYjg5ODEiLz4NCiA8ZyBmaWxsPSIjZmZmIiBzdHJva2Utd2lkdGg9IjEuMTAzOCI+DQogIDxwYXRoIGQ9Im0xNi41ODkgMTYgNS45MTE1IDUuOTE4LTAuNTgyMSAwLjU4MjEtNS45MTgtNS45MTE1LTUuOTE4IDUuOTExNS0wLjU4MjEtMC41ODIxIDUuOTExNS01LjkxOC01LjkxMTUtNS45MTggMC41ODIxLTAuNTgyMSA1LjkxOCA1LjkxMTUgNS45MTgtNS45MTE1IDAuNTgyMSAwLjU4MjF6Ii8+DQogPC9nPg0KPC9zdmc+DQo="
            class="msla-card-header-icon" draggable="false">
        </div>
        <a aria-expanded="true" class="msla-card-header-title-view" tabindex="-1" href="javascript:void(0)"
          draggable="false" role="button">
          <div class="msla-card-title">If false</div>
        </a>
      </div>
      <input class="mt-2 ms-2" type="button" value="Add Detector" (click)="addDetector(data.id)"
        [disabled]="isDisabled(data.id)">
    </div>
  </ng-template>
</main>