<div [attr.name]="data.name" #canvasContent ngFlowchartCanvas class="card">
    <div class="card-body">
        <div class="card-title card-title-detector">
            <app-node-title [data]="data" [customClass]="'background-blue'" [customClassIcon]="'bi-lightning-fill'"></app-node-title>
        </div>
        <h6 class="card-subtitle mb-2 text-muted">{{ data.name }}</h6>
        <div class="card-text">
            <form>
                <div class="mb-3">
                    <label for="chooseDetector" class="form-label">Choose detector</label>
                    <select name="chooseDetectorSelect" class="form-select form-select-sm" id="chooseDetector"
                        aria-label="Choose Detector" (change)="changeDetector()" [(ngModel)]="data.detectorId">
                        <option *ngFor="let detector of detectors" [value]="detector">{{ detector }}</option>
                    </select>
                </div>
            </form>
            <app-common-node-properties [data]="data"></app-common-node-properties>
            <app-node-actions (onNodeAdded)="addNode($event)" (onConditionAdded)="addCondition($event)"
                (onDeleted)="deleteNode()" [isDisabled]="isDisabled()" [isRootNode]="isRootNode()">
            </app-node-actions>
        </div>
    </div>
</div>