.flex-div {
    display: flex;
}

.filler {
    flex-grow: 1;
}

.node-title {
    font-weight: lighter;
    font-size: medium;
}

.node-img {
    min-width: 2em;
    min-height: 2em;
    margin-left: -2px;
    margin-top: -2px;
    color: whitesmoke;
}

.background-green {
    background-color: #1C9BA4;
}

.background-purple {
    background-color: #824696;
}

.background-blue {
    background-color: #427CFC;
}

.background-gray {
    background-color: #494F58;
}

.background-light-green {
    background-color: #86DB90;
}

.background-red {
    background-color: #F88D83;
}