<h3 mat-dialog-title>Specify Kusto Query</h3>
<mat-dialog-content>
    <form>
        <div class="row">
            <div class="col-2">
                <label for="idQueryLabel" class="form-label">Enter label for the Kusto Query</label>
            </div>
            <div class="col-10">
                <input class="form-control form-control-sm" [(ngModel)]="kustoQueryLabel" name="queryLabel" id="idQueryLabel"
                    placeholder="Enter label for the Kusto Query">
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <label for="idQueryLabel" class="form-label">Enter query text</label>
            </div>
            <div class="col-10">
                <ngx-monaco-editor class="form-control form-control-sm" [options]="editorOptions" name="monacoEditor"
                    [(ngModel)]="code">
                </ngx-monaco-editor>
                <div class="mt-2 mb-2">
                    <button class="btn btn-primary btn-sm" (click)="executeQuery()">Execute</button>
                    <i *ngIf="isExecutingQuery" class="ms-2 fa fa-gear fa-spin fa-1x"></i>
                    <div *ngIf="error" class="error-details">
                        <i class="fa health-icon fa-times-circle unhealthy-icon-color" aria-hidden="true"></i>
                        <span> {{ error }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                Kusto Query Output
            </div>
            <div class="col-10 border border-primary" style="min-height:300px">
                <table *ngIf="dataSource.length > 0" class="mt-3 table table-bordered table-responsive">
                    <thead>
                        <tr>
                            <th *ngFor="let disCol of displayedColumns; let colIndex = index">{{disCol.columnName}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let element of dataSource; let elementIndex = index">
                            <td (click)="clickCell(elementIndex, disCol)"
                                *ngFor="let disCol of displayedColumns; let colIndex = index">
                                {{ element[disCol.columnName] }}
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-2">
                Configure Variables
            </div>
            <div class="col-10">
                <span> Variables allow you to set conditions in subsequent steps. After executing the Kusto query, click
                    on any of the cells in the query output to create a variable.
                </span>
                <div class="mt-3 mb-3">
                    <app-configure-variables [variables]="variables"></app-configure-variables>
                </div>
            </div>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions>

    <button class="ml-2" mat-raised-button color="primary" (click)="save()"
        [disabled]="dataSource.length === 0">Save</button>
    <button class="ml-2" mat-raised-button color="warn" (click)="close()">Cancel</button>
</mat-dialog-actions>