:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

mat-dialog-content {
    max-height: unset !important;
    flex: 1 0 0;
}

.error-details {
    background-color: rgb(254, 240, 240);
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: 'Courier New', Courier, monospace;
}
