* {
    box-sizing: border-box;
}

#canvas {
    height: calc(100%);
    width: calc(100%);
    background: #f0f0f0;
    flex: 1;
    border: 1px solid darkgray;
}

.condition {
    background: white;
    box-shadow: 0px 4px 2em rgba(22, 33, 74, 0.05);
    min-height: 6em;
    min-width: 20em;
}

.msla-card-title-group {
    display: flex;
    overflow: hidden;
    flex: 1 1 auto;
    align-items: center;
    cursor: pointer;
}

.msla-card-header-title-view {
    cursor: pointer;
    color: #000;
    overflow: hidden;
    outline: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: inherit;
    padding-left: 10px;
    display: flex;
}

.msla-image-header {
    width: 23px;
    height: 23px;
    display: inline-block;
}

div#canvas[disabled="true"] {
    opacity: 1;
}

div#canvas[disabled="true"] ::ng-deep.ngflowchart-step-wrapper {
    opacity: 1;
}