* {
    box-sizing: border-box;
}

#canvas {
    height: calc(100%);
    width: calc(100%);
    background: #f0f0f0;
    flex: 1;
    border: 1px solid darkgray;
}

div#canvas[disabled="true"] {
    opacity: 1;
}

div#canvas[disabled="true"] ::ng-deep.ngflowchart-step-wrapper {
    opacity: 1;
}