.card-title {
    padding: 0xp;
}

.card-body {
    padding: 0px;
}

.card-header:first-child {
    border-radius: 0;
}

.card,
.card-header,
.card-body,
.card-footer {
    border-radius: 0px;
}

.card-subtitle,
.card-text {
    padding: 8px;
}

