<div [attr.name]="data.name" #canvasContent ngFlowchartCanvas class="card condition">
    <div class="card-body">
        <div class="card-title card-title-else">
            <app-node-title [data]="data" [customClass]="'background-red'" [customClassIcon]="'bi-x'">
            </app-node-title>
        </div>
        <div class="card-text">
            <div class="mt-3">
                <div class="mb-5">Executes if condition is false</div>
                <app-node-actions [isConditionNode]="true" (onNodeAdded)="addNode($event)"
                    (onConditionAdded)="addCondition($event)" (onDeleted)="deleteNode()" [isDisabled]="isDisabled()"
                    [isRootNode]="isRootNode()">
                </app-node-actions>
            </div>
        </div>
    </div>
</div>