<div class="card" [attr.name]="data.name" #card #canvasContent>
    <div>
      <strong style="float: left;">Case</strong>
      <div style="float: right;"><a href="javascript:void(0)" (click)="onDelete()">Delete</a></div>
    </div>
    <span>Equals</span>
    <ng2-completer [(ngModel)]="data.conditionValue" [datasource]="data.completionOptions"
      [minSearchLength]="0" placeholder="Choose a value">
    </ng2-completer>

    <div class="mt-3 ms-2">
      <input type="button" value="Add Detector" (click)="addDetector()" [disabled]="isDisabled()">
      <input class="ms-2" type="button" value="Add Case" (click)="addSwitchCase()">
    </div>
  </div>